* {
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header {
    height: 15vh;
}

.rubric {
    height: 10vh;
}

.rules {
    height: 10vh;
}

.weapons {
    height: 15vh;
}

.ui {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}




.message {
    height: 15vh;
}

.footer {
    height: 5vh;
}